# Virtual Environment
venv/
.venv/
env/
/bin
/include
/lib
/lib64
__pycache__/

# Python specific files
*.py[cod]
*$py.class
*.so

# Installer logs
*.log

# Unit test / coverage
.coverage
.tox/
/htmlcov

# IDE-specific files (e.g., VS Code, PyCharm)
.vscode/
.idea/